<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome <%= @user.name %></h2>
    <p>
      You have successfully signed up to www.dameconsulting.us.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p><b>Dame Consulting,LLC<br>9968 SW 222nd Terrace<br>Cutler Bay, Florida 33190<br>
    (786) 422-5015</p>

  </body>
</html>