# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 14d686a10ba844a680dc3e3bcec8a85b83ebb6b5c16bd6bfc4f345345df0f24bec5032f77a8ead878dee5b2c3e6072485d62f0514267fa9f

test:
  secret_key_base: 318e5b4b3d1ebde6ee568a9e9f35952f6d885f0648502a18fa1f6fe3d20e6bd96e0aa10e308bebc83141b8a83023295f66795e8bc20e2d3870d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
