    <div class="col-md-6">
       	<p><b>Want to file your income taxes on time, easy and get the most money back?</b></p>
        <p>You are not alone, we can help. Stop by our office or upload your documents and we will take care of the rest.</p>
        <p><b>What makes us different?</b></p>
        <p>Years of experience as tax preparers and the adaptation of technology that makes the most efficient tax preparation experience.</p>
        <p><b>What documents do I need?</b></p>
        <p>If you have filed your taxes with us before just log in and you will find all the documents you had the previous year. If you are a first time user of Vault Tax Service then fill out this form</p>


    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </div>
